.button {
  border-radius: 25px;
}

.button_bg {
  padding: 14px 44px;
  font-size: 19px;
}
.button_md {
  padding: 12px 22px;
}
.button_sm {
  padding: 9px 0;
}

.button_black {
  background-color: #000;
  color: #fff;
}
.button_purpule {
  background: #3e356a;
  color: #fff;
}
.button_purpule-border {
  background-color: transparent;
  border: 1px solid #edf0f5;
  color: #edf0f5;
}
.mosaic-card_white .button_purpule-border {
  border: 1px solid#3E356A;
  color: #3e356a;
}
.button_white {
  background: #fff;
  color: #000;
}
.button_link-white {
  color: #fff;
  display: flex;
  gap: 7px;
  align-items: center;
}
.button_white-border-purpule {
  border: 2px solid #edf0f5;
  color: #3e356a;
}
